* {
    text-align: center;
    color: black;
    font-family: Her;
    border: 2px solid red;
}

.header {
    color: white;
    padding: 0 200px;
    background-color: #1f2937;
    display: flex;
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.leftheader {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.rightheader {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 20px;

}

body {
    display: flex;
    flex-direction: column;
}

.rightheader ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.section {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.section div {
    max-width: 100px;

}

.section2 {
    background-color: aqua;
}

.card {
    padding-top: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 0 200px;
    gap: 100px;
}

.leftcard {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}



.rightcard {
    display: flex;
    justify-content: flex-end;
}

img {
    width: 100px;
    height: 100px;
  }

.text {
    
}